mat-list-item {
    height: auto !important;
    line-height: normal !important;
    padding: 0 10px;
}

mat-list-item:hover {
  background-color: #f5f5f5;
}

.mat-list-avatar {
  height: 50px;
  width: 50px;
  border-radius: 5px; 
}

.container {
  display: flex;
  align-items: left;
  justify-content: left;
 }
 
 .image {
  max-width: 100px;
  height: auto;
  align-self: center;
 }
 
 .text {
   font-size: 70px;
   padding-left: 20px;
 }