ion-thumbnail {
    --size: 150px;
    --border-radius: 10px;
}

$levels: (
    beginner: #69bb7b,
    intermediate: #6600cc,
    expert: #fe4c52,
);

@each $level, $value in map-remove($levels) {
  ion-item-sliding[track='#{$level}'] ion-label {
    padding-left: 10px;

    border-left: 2px solid $value;
  }
}

.icon-container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}