<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Choose Target Muscle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <mat-chip-listbox #chipList aria-label="choose target muscle" multiple>
    <mat-chip-option
      *ngFor="let equipment of equipments"
      [selected]="equipment.selected"
      selectable="true"
      (selectionChange)="onSelectionChange($event)"
    >
      {{ equipment.name }}
    </mat-chip-option>
  </mat-chip-listbox>
</ion-content>
