<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Workout Planner</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()" *ngIf="selectedSegment === 'custom'">
        <span *ngIf="ios">Filter</span>
        <div class="icon-container">
          <span *ngIf="!ios">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </span>
        </div>
      </ion-button>
      <ion-button (click)="showCoachInfo()" *ngIf="selectedSegment != 'custom'">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="exportToPdf()">
        <ion-icon slot="icon-only" name="print-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="ion-padding-top workout-detail">
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="reloadWorkoutPlan()">
      <ion-segment-button value="from-coach">
        <ion-label>From Coach</ion-label>
      </ion-segment-button>
      <ion-segment-button value="custom">
        <ion-label>Custom</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

    <div>
      <ion-list>
        <ion-item-group *ngFor="let workoutDay of workoutPlan?.days">
          <ion-item-divider
            sticky
            *ngIf="workoutDay.exercises && workoutDay.exercises.length > 0"
            color="primary"
          >
            <ion-label>
              <h1>{{ workoutDay.day }}</h1>
              <h3>{{ workoutDay.muscleGroups.join(', ') }}</h3>
            </ion-label>
          </ion-item-divider>
          <ion-item
            *ngFor="let workout of workoutDay.exercises"
            routerLink="/app/tabs/workouts/{{workout.id}}"
          >
            <ion-thumbnail slot="start">
              <img
                src="{{ workout.thumbnail }}"
                alt="{{ workout.thumbnail }}"
                width="150"
                height="100"
              />
            </ion-thumbnail>
            <ion-label>
              <h2>{{workout.name}}</h2>
              <p>{{workoutDay.sets}} x {{workoutDay.reps}} Sets</p>
              <p>{{workoutDay.rest}} seconds rest</p>
            </ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>
  </div>
</ion-content>
