<ion-header>
  <ion-toolbar>
    <ion-title>Workout Plan Info</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <!-- Plan Details -->
   <p><strong>Plan Name:</strong> {{ workoutPlan?.metaData.planName || 'N/A' }}</p>
   <p><strong>Description:</strong> {{ workoutPlan?.metaData.planDescription || 'N/A' }}</p>
   <p><strong>Notes:</strong></p>
   <pre>{{ workoutPlan?.metaData.planNotes || 'N/A' }}</pre>
 
  <p><strong>Coach Name:</strong> {{ workoutPlan?.metaData.coachName || 'N/A' }}</p>
  <p><strong>Gym Name:</strong> {{ workoutPlan?.metaData.gymName || 'N/A' }}</p>
  <p><strong>Created Date:</strong> {{ workoutPlan?.createdDate || 'N/A' }}</p>
  
</ion-content>