.about-header {
  position: relative;
  width: 100%;
  height: auto;

  .about-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    transition: opacity 500ms ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
  }

  @media (min-width: 768px) {
    .about-image {
      height: 300px;
    }
  }
}

.about-info {
  position: relative;

  margin-top: -10px;

  border-radius: 10px;

  background: var(--ion-background-color, #ffffff);

  z-index: 2; // display rounded border above header image
}

.app-name {
  font-weight: 700;
  color: var(--ion-color-primary);
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 10px;

  a {
    margin: 10px;
    font-size: 24px;
    color: var(--ion-color-primary);
    text-decoration: none;

    ion-icon {
      font-size: 32px;
    }
  }
}
