<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Excercises </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Excercises</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-select
      aria-label="Muscle"
      label="Target Muscle"
      justify="start"
      placeholder="Choose muscle group"
      multiple="true"
      (ionChange)="handleChange($event)"
    >
      @for (muscle of muscleGroups; track muscle) {
      <ion-select-option justify="start" [value]="muscle"
        >{{ muscle.name }}</ion-select-option
      >
      }
    </ion-select>
  </ion-item>

  <workout-list class="full-size" [workouts]="filteredWorkouts"></workout-list>
</ion-content>
