.filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  padding: 10px;
  background-color: #3f51b5; /* Adjust as needed */
  color: white;
  }