<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Excercises </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <mat-icon
      aria-hidden="false"
      class="filter-icon"
      aria-label="Filter icon"
      (click)="openFilterDialog()"
      >filter_list</mat-icon
    >
    <mat-form-field>
      <mat-label>Target Muscle</mat-label>
      <mat-select multiple> </mat-select>
    </mat-form-field>
  </ion-item>
  <workout-list class="full-size" [workouts]="filteredWorkouts"></workout-list>
</ion-content>
