<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Excercises </ion-title>
  </ion-toolbar>
  <div class="horizontal-container">
    <mat-icon
      aria-hidden="false"
      class="filter-icon"
      aria-label="Filter icon"
      (click)="openEquipmentPickerDialog()"
      >fitness_center</mat-icon
    >
    <mat-icon
      aria-hidden="false"
      class="filter-icon"
      aria-label="Filter icon"
      (click)="openMusclePickerDialog()"
      >filter_alt</mat-icon
    >
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-select style="display: none" multiple> </mat-select>
  <workout-list class="full-size" [workouts]="filteredWorkouts"></workout-list>
</ion-content>
