<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/equipments"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ equipment?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="details">
      <ion-label>Details</ion-label>
    </ion-segment-button>
    <ion-segment-button value="video">
      <ion-label>Video</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'details'" class="equipment-detail">
    <div class="image-container">
      <img
        [src]="equipment?.thumbnail"
        alt="{{ equipment?.name }}"
        class="equipment-image"
      />
    </div>
    <h2>Workouts</h2>
    <ul>
      <li *ngFor="let workout of equipment?.exercises">{{ workout }}</li>
    </ul>
  </div>

  <div *ngIf="selectedSegment === 'video'" class="equipment-video">
    <h2>Video</h2>
    <div
      *ngIf="equipment?.videos && equipment!.videos!.length > 0; else noVideos"
    >
      <youtube-player
        [videoId]="equipment?.videos?.[0]"
        [width]="screenWidth"
        [height]="screenHeight"
      ></youtube-player>
    </div>

    <ng-template #noVideos>
      <p>No videos available</p>
    </ng-template>
  </div>
</ion-content>
