<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/equipments"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ equipment?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="details">
      <ion-label>Details</ion-label>
    </ion-segment-button>
    <ion-segment-button value="video">
      <ion-label>Video</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'details'" class="equipment-detail">
    <div class="image-container">
      <img
        [src]="equipment?.thumbnail"
        alt="{{ equipment?.name }}"
        class="equipment-image"
      />
    </div>
    <h2>Workouts</h2>
    <ion-list *ngFor="let muscleGroup of groupedWorkouts | keyvalue">
      <ion-item-divider>
        <ion-label>{{ muscleGroup.key }}</ion-label>
      </ion-item-divider>
      <ion-item
        *ngFor="let workout of muscleGroup.value"
        [routerLink]="'/app/tabs/workouts/' + workout.id"
      >
        <ion-thumbnail slot="start">
          <img
            [src]="'assets/thumbnails/' + workout.images[0]"
            *ngIf="workout.images && workout.images.length > 0"
            alt="{{ workout.name }}"
          />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ workout.name }}</h2>
          <p
            *ngIf="workout.primaryMuscles && workout.primaryMuscles.length > 0"
          >
            {{ workout.primaryMuscles[0] }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  
  <div *ngIf="selectedSegment === 'video'" class="equipment-video">
    <h2>Video</h2>
    <div
      *ngIf="equipment?.videos && equipment!.videos!.length > 0; else noVideos"
    >
      <youtube-player
        [videoId]="equipment?.videos?.[0]"
        [width]="screenWidth"
        [height]="screenHeight"
      ></youtube-player>
    </div>

    <ng-template #noVideos>
      <p>No videos available</p>
    </ng-template> 
  </div>
</ion-content>
