<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Membership</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Show Loading Indicator -->
  <ion-spinner *ngIf="loading"></ion-spinner>

  <!-- Error Message -->
  <ion-card *ngIf="error">
    <ion-card-content>
      <ion-text color="danger">{{ error }}</ion-text>
      <ion-button *ngIf="showRegisterButton" expand="block" fill="outline" color="primary" (click)="registerUser()">Register</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Gym Information Card -->
  <ion-card *ngIf="gymInfo">
    <ion-card-header>
      <ion-card-title>{{ gymInfo.name }}</ion-card-title>
      <ion-card-subtitle>{{ gymInfo.address }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- <p><strong>Owner:</strong> {{ gymInfo.owner }}</p> -->

      <!-- Action Buttons -->
      <div class="action-buttons">
        <ion-button
          color="primary"
          fill="clear"
          (click)="callGym(gymInfo.contactNumber)"
        >
          <ion-icon name="call" slot="start"></ion-icon>
          Call
        </ion-button>
        <ion-button
          color="secondary"
          fill="clear"
          (click)="emailGym(gymInfo.email)"
        >
          <ion-icon name="mail" slot="start"></ion-icon>
          Email
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Membership Actions Below -->
  <ion-item  *ngIf="!userInfo">
    <ion-item>
      <ion-label position="floating">Enter your Phone Number</ion-label>
      <ion-input type="tel" [(ngModel)]="phoneNumber"></ion-input>      
    </ion-item>
      <ion-button slot="end" expand="block" color="primary" (click)="checkUser()">Proceed</ion-button>
  </ion-item>

  <!-- User Information Card -->
  <ion-card *ngIf="userInfo">
    <ion-card-header>
      <ion-card-title>{{ userInfo.name }}</ion-card-title>
      <ion-card-subtitle>{{ userInfo.address }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Phone:</strong> {{ userInfo.phoneNumber }}</p>
      <p><strong>Email:</strong> {{ userInfo.email }}</p>
      <p><strong>Membership Expiry:</strong> {{ userInfo.expiryDate }}</p>
    </ion-card-content>
    <ion-button expand="block" color="success" (click)="renewMembership()">Renew Membership</ion-button>
    <ion-button expand="block" color="danger" (click)="clearUserInfo()">Log out</ion-button>  
  </ion-card>
  <ion-textarea
    placeholder="url"
    [(ngModel)]="currentUrl"/>
</ion-content>
