<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancel</ion-button>
      <ion-button *ngIf="!ios" (click)="selectAll(false)">Reset</ion-button>
    </ion-buttons>

    <ion-title>
      Filter Workouts
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-list-header>Levels</ion-list-header>

    <ion-item *ngFor="let level of this.workoutFilter?.levels" [attr.track]="level.name | lowercase">
      <ion-icon *ngIf="ios" slot="start" [name]="level.name" color="medium"></ion-icon>

      <ion-checkbox [(ngModel)]="level.isChecked" [attr.aria-label]="level.name">
        {{level.name}}
      </ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer translucent="true" *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">Deselect All</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectAll(true)">Select All</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>